body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    list-style-image: none;
    padding: 0;
    margin: 0;
}

*:focus {
    outline: none;
    outline-style: solid;
    outline-color: #999;
    outline-width: 2px;
}

.bg {
    height: 100vh;
    width: 100%;
    background: url(../../img/survey/survey_view_bg.jpg) no-repeat center center fixed; -webkit-background-size: cover;
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    overflow-y: scroll;
}

.wrapper {
    min-height: 100vh;
    position: relative;
    width: 100%;
    display: flex;
}

.survey-container {
    max-width: 770px;
    position: relative;
    margin: 99px auto 95px;
    background-color: rgba(255, 255, 255, 0.95);
}

.survey-title {
    position: relative;
    padding: 10px 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    
}

.title-wrapper {
    padding: 10px 29px;
    
}

.title-wrapper .combo {
    font-size: 14px;
    width: 150px;
    height: 40px;
    font-weight: bold;
}

.hidden-data {
    margin: 0;
    padding: 0;
    display: inline;
}

.show-wrapper .info {
    clear: both;
    position: relative;
    padding: 5px 29px;
}

.show-wrapper .info p {
    height: auto;
    font-size: 16px;
    line-height: 24px;
    color: #333;
    font-weight: 560;
}

/* 시작일자 종료일자 설정 css */
.show-wrapper .date {
    display: block;
    padding: 5px 29px;
    font-family: Arial, Helvetica, sans-serif;
}

.show-wrapper .date p {
    height: auto;
    font-size: 16px;
    line-height: 24px;
    color: #333;
    font-weight: 560;
}

.show-wrapper .date .date-wrapper {
    margin-left: 20px;
    margin-right: 20px;
    
}

.show-wrapper .date label {
    font-size: 15px;
    padding-right: 3%;
}

.show-wrapper .date input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.date .start-date {
    display: inline-block;
    width: 49%;
    box-sizing: border-box;
}

.date .end-date {
    display: inline-block;
    width: 49%;
    box-sizing: border-box;
}

.show-wrapper .etc-wrapper {
    clear: both;
    position: relative;
    padding: 3px 29px;
}

.show-wrapper .etc-wrapper .view-date {
    display: inline-block;
}

.show-wrapper .etc-wrapper .view-date p {
    color: gray;
    font-size: 13px;
    margin: 0;
}

.show-wrapper .etc-wrapper .view-point {
    float: right;
}

.show-wrapper .etc-wrapper .view-point span {
    color: #333;
    font-size: 15px;
    font-weight: bold;
}

.answer-wrapper, .choice-wrapper {
    clear: both;
    position: relative;
    padding: 25px 29px;
    margin-bottom: 10px;
}

.preview {
    position: relative;
    text-align: center;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
}

.preview img {
    max-width: 100%; /* 이미지의 최대사이즈 */
    width: auto;
    height: auto;
    max-height: 500px;
    box-sizing: border-box;
    
}

.question .question-span {
    position: absolute;
    top: 3px;
}

.question p {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
    font-size: 16px;
    line-height: 28px;
}

.answer {
    margin-right: 20px;
    margin-left: 20px;
    padding-right: 20px;
    position: relative;
}

.error {
    margin-right: 20px;
    margin-left: 20px;
}

.form-error {
    color: red;
    font-size: 14px;
}

.answer .answer-textarea {
    overflow-x: hidden;
    overflow-wrap: break-word;
    height: 94px;
    font-size: 16px;
    line-height: 28px;
    width: 100%;
    overflow: hidden;
    resize: none;
    word-wrap: break-word;
    border: 1px dashed;
    background-color: rgb(243, 243, 243);
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px 9px;
}

.answer #counter {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #999;
}

.info .limit_block {
    display: inline-block;
}



.answer .answer-point, .limit-input {
    position: relative;
    font-size: 16px;
    line-height: 28px;
    width: 300px;
    border: 1px dashed;
    background-color: rgb(243, 243, 243);
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px 9px;
}

/* 항목 list */
.info .select {
    padding-left: 20px;
    padding-right: 20px; 
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

.info .select ul {
    width: 100%;
}

.info .select li {
    float: left;
    width: 49%;
}

.info .select #item_ul li {
    margin-bottom: 5px;
}

.info .select li:nth-child(2n+1) {
    margin-right: 2%;
}

.info .select label {
    display: inline-block;
    border: 1px solid #999;
    line-height: 28px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    padding: 4px 9px;
    margin-bottom: 5px;
}

.info .select .item {
    line-height: 28px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    padding: 4px 9px;
}

.info .select .plus {
    clear: both;
    position: relative;
    text-align: center;
    padding-top: 15px;
}

.info .select .plus .plus-btn, .delete-btn {
    width: 130px;
    font-size: 15px;
    line-height: 35px;
    background-color: #fff;
    border: 1px solid #999;
    height: 35px;
    cursor: pointer;
}

.info .select .plus .plus-btn:hover, .delete-btn:hover {
    background-color: #eee;
}

.info .select .plus .plus-btn:active .delete-btn:active {
    border: none;   
}

/* end 항목 list */


/* 하단 버튼 css */
.button-wrapper {
    clear: both;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 0 30px 20px;
    overflow: hidden;
}

.button-wrapper .submit-btn {
    width: 300px;
    font-size: 20px;
    line-height: 50px;
    background-color: #fff;
    border: 1px solid #999;
    height: 50px;
    cursor: pointer;
}

.button-wrapper .submit-btn:hover {
    background-color: #eee;
}

.button-wrapper .submit-btn:active {
    border: none;   
}
/* end 하단 버튼 css */


@media screen and (max-width: 810px) {
    .survey-container {
        width: 100%;
        margin: 54px 10px 54px 10px;
    }
}

@media screen and (max-width: 720px) {
    .answer-wrapper, .choice-wrapper {
        padding: 25px 10px;
        margin-bottom: 10px;
    }

    .question img {
        padding-right: 20px;
        padding-left: 20px;
    }

    .show-wrapper .info{
        padding: 5px 10px;
    }

    .show-wrapper .date {
        padding: 5px 10px;
    }

    .button-wrapper .submit-btn {
        width: 40%;
    }
}

@media screen and (max-width: 648px) {
    /* .info .select li:nth-child(2n+1) {
        margin-right: 0;
    } */

    .info .select #item_ul li {
        width: 100%;
    }

    .show-wrapper .answer-point, .limit-input {
        width: 100%;
    }
}

@media screen and (max-width: 564px) {
}

@media screen and (max-width: 440px) {
    .title-wrapper .combo {
        width: 120px;
    }

    .show-wrapper .info p {
        font-size: 14px;
        font-weight: bold;
    }

    .show-wrapper .etc-wrapper .view-point span {
        font-size: 13px;
    }

    .show-wrapper .date p {
        font-size: 14px;
        font-weight: bold;
    }

    .show-wrapper .date label {
        font-size: 13px;
    }

    .info .select label {
        font-size: 13px;
    }

    .info .select .item {
        font-size: 13px;
    }

    .info #limit, #entry {
        font-size: 13px;
    }

    .info .select .plus .plus-btn, .delete-btn {
        width: 40%;
    }

    .form-error {
        font-size: 13px;
    }
}
